.fechas{
    display: inline;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items:center;
}

/*
.row{
    width: 50%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items:center;
}
*/

.row{
    width: 100vw;

    display: flex;
    justify-content: center; 
}

.col{
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.col-1{
    width: 4%;
}

.col-2{
    width: 10%;
}

.col input{
    width: 100%;
}

.btns{
      display: flex;
}